---
layout: default
title: Início
---

   <div class="posts">
    <h1>Olá, sou Rafael Tavares</h1>
    <h7>Também conhecido como rafasmusic nas redes sociais.</h7>
    <div class="htmlG">
        <div class="bodyG">
            <div class="wrapper">
                <div class="border-circle" id="one"></div>
                <div class="border-circle" id="two"></div>
                <div class="background-circle">
                    <div class="triangle-light"></div>
                    <div class="body"></div>
                    <span class="shirt-text">I</span>
                    <span class="shirt-text">♥</span>
                    <span class="shirt-text"></span>
                    <span class="shirt-text">M</span>
                    <span class="shirt-text">O</span>
                    <span class="shirt-text">Z</span>
                    <div class="triangle-dark"></div>
                </div>
                <div class="dempads">
                    <div class="demarms-left">
                    </div>
                    <div class="demarms-right">
                    </div>
                </div>
                <div class="head">
                    <div class="ear" id="left"></div>
                    <div class="ear" id="right"></div>
                    <div class="hair-main">
                        <div class="sideburn" id="left"></div>
                        <div class="sideburn" id="right"></div>
                        <div class="hair-top"></div>
                        <!--   <div class="hair-back"></div> -->
                    </div>
                    <div class="face">

                        <div class="hair-bottom"></div>
                        <div class="nose"></div>
                        <div class="eye-shadow" id="left">
                            <div class="eyebrow"></div>
                            <div class="eye-one">
                                <div class="iris"></div>
                            </div>
                        </div>
                        <div class="eye-shadow" id="right">
                            <div class="eyebrow"></div>
                            <div class="eye-two">
                                <div class="iris"></div>
                            </div>
                        </div>
                        <div class="mouth"></div>
                        <div class="shadow-wrapper">
                            <div class="shadow"></div>
                        </div>
                    </div>
                </div>
                <span class="music-note" id="one">♪</span>
                <span class="music-note" id="two">♫</span>
            </div>
        </div>
    </div>
    <h4>
    <p class="text">
        <ul>
            <li>
                Sou desenvolvedor web e mobile trabalho basicamente com .net / c#.
            </li>
            </br>
            <li> 
                Co-fundador do <a href="http://hackaju.com.br">Hackaju</a> primeiro hackathon realizado em Aracaju-SE.
            </li>
            </br>
            <li>
                Acadêmico de Sistemas para Internet pela <a href="http://www.unit.br/cursos/cursos-graduacao/sistemas-para-internet/">UNIT</a>.
            </li>
        </ul>
        </br>
        <p>
            Sendo apaixonado por tecnologia e defensor de uma WEB aberta venho me identificando cada vez mais com os 
            <a href="https://www.mozilla.org/pt-BR/about/manifesto/"> princípios da Mozilla</a>.
            Por isso me considero um <a href="https://mozillians.org/pt-BR/u/rafasmusic/">Mozillian</a> de <b style="color:red;">❤</b>.
        </p>
    </p>
</h4>
</div>






<!--
<h1>Curso</h1>

<div class="bookshelf">
  <div class="book book-green">
    <h2>Harry Potter</h2>
  </div><div class="book book-green">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-green">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-umber">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-blue">
    <h2>Harry Potter</h2>
  </div><div class="book book-umber">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-springer">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-blue">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book-tilted"><div class="book book-umber">
    <h2>Harry Potter</h2>
  </div></div><div class="book book-blue">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-green">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-green">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-umber">
    <h2>Harry Potter</h2>
  </div><div class="book book-green">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-blue">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-green">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-springer">
    <h2>Harry Potter</h2>
  </div><div class="book book-springer">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-green">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-blue">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-blue">
    <h2>Harry Potter</h2>
  </div><div class="book book-blue">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-umber">
    <h2>CSS For Dummies</h2>
  </div><div class="book-tilted"><div class="book book-green">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div></div><div class="book book-blue">
    <h2>Harry Potter</h2>
  </div><div class="book book-springer">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-green">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-green">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-umber">
    <h2>Harry Potter</h2>
  </div><div class="book book-blue">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-umber">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-green">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-green">
    <h2>Harry Potter</h2>
  </div><div class="book book-green">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-green">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-green">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-springer">
    <h2>Harry Potter</h2>
  </div><div class="book book-green">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-springer">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-umber">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-green">
    <h2>Harry Potter</h2>
  </div><div class="book book-green">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-umber">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-blue">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-springer">
    <h2>Harry Potter</h2>
  </div><div class="book book-green">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-springer">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-green">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-umber">
    <h2>Harry Potter</h2>
  </div><div class="book book-green">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-green">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-umber">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div><div class="book book-green">
    <h2>Harry Potter</h2>
  </div><div class="book book-springer">
    <h2>Introducing HTML5</h2>
  </div><div class="book book-blue">
    <h2>CSS For Dummies</h2>
  </div><div class="book book-blue">
    <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
  </div>
</div>
-->
