---
layout: page
title: Sociais
---

<section class="social">
    <a href="http://rafaeltavares.co" rel="author"><i class="soc ico www"></i></a>
  <a href="mailto:rafaeltavaresandrade@gmail.com"><i class="soc email"></i></a>
  <a href="https://www.facebook.com/rafael.tavares.andrade"><i class="soc facebook"></i></a>
  <a href="https://twitter.com/rafasmusic"><i class="soc twitter"></i></a>
  <a href="https://plus.google.com/+RafaelTavaresAndrade"><i class="soc google-plus"></i></a>
  <a href="https://github.com/rafastavares"><i class="soc github"></i></a>
</section>
</br>
</br>
<p>
    <a class="twitter-timeline"  href="https://twitter.com/rafasmusic" data-widget-id="543035152595955713">Tweets de @rafasmusic</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>
