<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <a href="/">
                   {% if page.title == "Início" %}
                    <img src="/public/img/Rafa_2.jpg" class="foto" alt="Foto do perfil" />
                   {% else %}
                    <img src="/public/img/Rafa.jpg" class="foto" alt="Foto do perfil" />
                    {% endif %}
                </a>
                </br>
                {{ site.title }}
            </h1>
        </div>
        <p class="lead">
            <ul class="sidebar-nav">
                <li class="sidebar-nav-item{% if page.title == " Home " %} active{% endif %}">
                </li>

                <li class="sidebar-nav-item"><a href="/blog/index.html">Blog</a>
                </li>
                {% comment %} Barra lateral {% endcomment %} {% assign pages_list = site.pages %} {% for node in pages_list %} {% if node.title != null %} {% if node.layout == "page" %} {% if node.title != "Apresentações" %}
                <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
                    <a href="{{ node.url }}">{{ node.title }}</a>
                </li>
                {% endif %} {% endif %} {% endif %} {% endfor %}
                <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">Projetos</a>
                </li>
            </ul>
        </p>
        </br>
        <p class="lead">{{ site.description }}</p>
    </div>
</div>