---
layout: default
title: Blog
---

<div class="posts">
  {% for post in paginator.posts %}
   <hr>
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.url }}{{post.url}}">
        {{ post.title }} 
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    {{ post.excerpt }}
   <h6><a href="{{ site.url }}{{post.url}}">Leia mais...</a></h6>
  </div>
  {% endfor %}
</div>
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/blog/page{{paginator.next_page}}">Anterior</a>
  {% else %}
    <span class="pagination-item older">Anterior</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/blog/">Novo</a>
    {% else %}
      <a class="pagination-item newer" href="/blog/page{{paginator.previous_page}}">Novo</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Novo</span>
  {% endif %}
</div>
